.lightbox{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,.95);

display:flex;

justify-content:center;

align-items:center;

z-index:5000;

}

.lightbox img{

max-width:90%;

max-height:85%;

border-radius:12px;

object-fit:contain;

}

.close-btn{

position:absolute;

top:30px;

right:35px;

background:none;

border:none;

font-size:2rem;

color:white;

cursor:pointer;

}

.nav-btn{

position:absolute;

top:50%;

transform:translateY(-50%);

background:rgba(255,255,255,.15);

border:none;

width:60px;

height:60px;

border-radius:50%;

color:white;

cursor:pointer;

font-size:1.5rem;

transition:.3s;

}

.nav-btn:hover{

background:#D4AF37;

color:#111827;

}

.left{

left:30px;

}

.right{

right:30px;

}

@media(max-width:768px){

.nav-btn{

width:45px;

height:45px;

font-size:1.2rem;

}

.close-btn{

font-size:1.5rem;

top:20px;

right:20px;

}

}


.image-counter{

position:absolute;

bottom:30px;

left:50%;

transform:translateX(-50%);

background:rgba(255,255,255,.15);

padding:10px 20px;

border-radius:30px;

color:white;

font-weight:600;

backdrop-filter:blur(10px);

}