.property-details{

padding:4rem 6%;

max-width:1200px;

margin:auto;

}

.property-image{

width:100%;

height:500px;

object-fit:cover;

border-radius:15px;

margin-bottom:2rem;

}

.property-details h1{

margin-bottom:1rem;

}

.property-details h2{

margin:1rem 0;

color:#c89b3c;

}

.features{

margin-top:2rem;

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(200px,1fr));

gap:1rem;

}

.features div{

background:#f5f5f5;

padding:1rem;

border-radius:10px;

font-weight:600;

}