.gallery{

display:flex;

flex-direction:column;

gap:20px;

}

.gallery-main{

height:520px;

overflow:hidden;

border-radius:18px;

}

.gallery-main img{

width:100%;

height:100%;

object-fit:cover;

}

.gallery-thumbnails{

display:flex;

gap:15px;

overflow-x:auto;

padding-bottom:10px;

}

.gallery-thumbnails img{

width:120px;

height:90px;

border-radius:10px;

cursor:pointer;

object-fit:cover;

border:3px solid transparent;

transition:.3s;

}

.gallery-thumbnails img:hover{

transform:scale(1.05);

}

.gallery-thumbnails .active{

border-color:#D4AF37;

}

@media(max-width:768px){

.gallery-main{

height:300px;

}

.gallery-thumbnails img{

width:90px;

height:70px;

}

}